@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    font-family: 'Poppins';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.productos {
    padding: 150px 0;
}

.swiper-slide {
    font-size: 18px;
    background-color: #121218;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-button-next {
    color: #e93c3c;
    font-size: 18px;
}

.swiper-pagination-bullet {
    background-color: #747474;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #edd310;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo img {
    width: 70px;
}

.menu nav ul li {
    position: relative;
    float: left;
}

.menu ul li a {
    font-size: 18px;
    padding: 20px;
    color: #a1a1a1;
    display: block;
}

.menu ul li a:hover {
    color: white;
}

#menu {
    display: none;
}

.menu-icono {
    width: 35px;
    cursor: pointer;
    display: none;
    filter: invert(1);
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.slider {
    width: 900px;
}

.sobre-nosotros {
    padding: 100px 0;
}

.sobre-nosotros-contenido {
    display: flex;
    position: relative;
}

.sobre-nosotros-imagen {
    width: 50%;
    text-align: center;
}

.sobre-nosotros-imagen img {
    width: 400px;
}

.sobre-nosotros-txt {
    width: 50%;
}

.sobre-nosotros p {
    color: white;
}

.sobre-nosotros h2 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.boton-2 {
    display: inline-block;
    padding: 13px 45px;
    font-size: 20px;
    background-color: #546469;
    color: #e0e0e0;
    border-radius: 35px;
    font-family: "Poppins";
    text-transform: uppercase;
    border: 0;
    transition: background-color 1s;
    margin-top: 30px;
}

.boton-2:hover {
    background-color: #E84393;
}

.productos h2 {
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
}

.producto, .productos {
    text-align: center;
}

.producto img {
    height: 250px;
}

.producto-texto {
    margin-top: 25px;
    text-align: center;
}

.producto-texto h4 {
    color: #e93c3c;
    font-size: 20px;
    margin: 0;
}

.producto-texto p {
    color: #a1a1a1;
    font-size: 16px;
    margin: 0;
}

.price {
    background-color: transparent;
    border: none;
    background-color: #e93c3c;
    color: #141414;
    border-radius: 25px;
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}

.price:hover {
    background-color: #a01a1a;
}

.nosotros {
    padding: 80px 0;
    background: linear-gradient(
        rgba(20, 20, 20, 1), 
        rgba(20, 20, 20, 0.8),
        rgba(20, 20, 20, 0.6),
        rgba(20, 20, 20, 0.4)), 
        url("images/seccion.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.texto-nosotros h2, .texto-nosotros p, .texto-nosotros span {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100px;
}

.texto-nosotros h2, .texto-nosotros span {
    color: #e93c3c;
}

hr {
    border: 1px solid #e93c3c;
}

.footer-texto {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-texto img {
    width: 100px;
}

.links {
    padding: 50px 0;
    text-align: center;
}

.links ul {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.footer-texto p {
    color: white;
    margin: 45px 0;
}

.links ul li, a {
    color: #a1a1a1;
}

.links a {
    font-weight: 800;
}

.links li {
    font-weight: 300;
}

.redes img {
    width: 40px;
    margin: 0 15px;
}

.inc {
    color: red;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.form-content h2 {
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo {
    padding: 17px 45px;
    background-color: #e0e0e0;
    border-radius: 35px;
    margin-right: 15px;
    border: 1px solid #e6e6e6;
    outline: none;
    color: black;
}

.campo::placeholder {
    color: #a1a1a1;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu-icono {
        display: initial;
    }
    .menu nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    #menu:checked ~ nav {
        display: initial;
    }

    .menu nav ul li {
        width: 100%;
    }

    .menu nav ul li a {
        color: white;
    }

    .menu nav ul li a:hover {
        color: #d6d6d6;
    }

    .hero {
        padding: 30px;
        margin-top: 70px;
    }

    .slider {
        width: 420px;
    }

    .sobre-nosotros-contenido {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sobre-nosotros {
        padding: 80px 0;
    }

    .sobre-nosotros-imagen {
        order: 2;
    }

    .sobre-nosotros-contenido h2 {
        font-size: 50px;
        line-height: 55px;
    }

    .sobre-nosotros-txt {
        width: 70%;
    }

    .nosotros {
        height: 50vh;
    }

    .productos {
        padding: 10px 30px;
    }

    .productos h2 {
        font-size: 40px;
        line-height: 60px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .nosotros {
        padding: 30px;
    }

    .texto-nosotros h2, .texto-nosotros p, .texto-nosotros span {
        font-size: 50px;
        line-height: 70px;
    }

    .form-content {
        padding: 100px 0;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form input {
        margin-bottom: 20px;
    }

    .footer {
        padding: 30px;
    }

    .links {
        padding: 20px 0;
    }

    .links ul {
        flex-direction: column;
        width: 200px;
    }

    .links ul li a {
        display: block;
        margin-bottom: 15px;
    }

    .footer-texto p {
        width: 70%;
        text-align: center;
    }

    .sobre-nosotros-imagen {
        width: 100%;
    }

    .sobre-nosotros-imagen img {
        width: 300px;
    }
}